header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    font: 400 16px Arial;
    color: #67676d;
    a {
        text-decoration: none;
        color: #67676d;
    }
}
